# check NEXT-AUTH Doc for getting CLIENT_ID and CLIENT_SECRET from Auth Providers

LINKEDIN_CLIENT_ID="***********"
LINKEDIN_CLIENT_SECRET="***********"

GOOGLE_CLIENT_ID="***********"
GOOGLE_CLIENT_SECRET="***********"

GITHUB_CLIENT_ID="***********"
GITHUB_CLIENT_SECRET="***********"

APPLE_CLIENT_ID="***********"
APPLE_CLIENT_SECRET="***********"

# use `openssl rand -base64 32` to create `NEXTAUTH_SECRET`

NEXTAUTH_SECRET="***********"
NEXTAUTH_URL="http://localhost:3000"
